[submodule "seL4"]
	path = seL4
	url = https://github.com/seL4/seL4
[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4
[submodule "userspace/tuk"]
	path = userspace/tuk
	url = https://github.com/Ellis2781/tuk
