[submodule "seL4"]
	path = seL4
	url = https://github.com/seL4/seL4
[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4
[submodule "userspace/tuk"]
	path = userspace/tuk
	url = https://github.com/Ellis2781/tuk
[submodule "usr.bin/tuk"]
	path = usr.bin/tuk
	url = https://github.com/Ellis2781/tuk
[submodule "usr.bin/make"]
	path = usr.bin/make
	url = git://git.savannah.gnu.org/make
[submodule "musllibc"]
	path = musllibc
	url = https://github.com/seL4/musllibc
[submodule "libc"]
	path = libc
	url = https://github.com/seL4/musllibc
[submodule "make"]
	path = make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "usr.bin/--force"]
	path = usr.bin/--force
	url = https://git.savannah.gnu.org/git/make.git
