[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4
[submodule "usr.bin/tuk"]
	path = usr.bin/tuk
	url = https://github.com/Ellis2781/tuk
[submodule "usr.bin/make"]
	path = usr.bin/make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "tools"]
	path = tools
	url = https://github.com/seL4/seL4_tools.git
[submodule "libc"]
	path = libc
	url = https://github.com/seL4/musllibc
